nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    z-index: 10;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  nav li{
    height: 50px;
    display: flex;
    align-items: center;  
  }
  nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #e9e9e9;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    z-index: 9;
  }
  .sidebar li{
    width: 100%;
    padding: 10px 20px;
  }
  .sidebar a{
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
  .menu-button{
    display: none;
  }
  .hidden{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
      position: absolute;
    }
    .nav ul {
        justify-content: space-between;
        padding: 0 10px;
    } 
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }